@inherits TestComponentBase

<SnapshotTest Description="Grid">
    <TestInput>
        <Card Title="Card Title" class="ant-card-contain-grid">
            <CardGrid Style="width: 25%; text-align: center">Content</CardGrid>
            <CardGrid Hoverable="false" Style="width: 25%; text-align: center">Content</CardGrid>
            <CardGrid Style="width: 25%; text-align: center">Content</CardGrid>
            <CardGrid Style="width: 25%; text-align: center">Content</CardGrid>
            <CardGrid Style="width: 25%; text-align: center">Content</CardGrid>
            <CardGrid Style="width: 25%; text-align: center">Content</CardGrid>
            <CardGrid Style="width: 25%; text-align: center">Content</CardGrid>
        </Card>
    </TestInput>
    <ExpectedOutput>
        <div class="ant-card ant-card-bordered ant-card-contain-grid">
            <div class="ant-card-head">
                <div class="ant-card-head-wrapper">
                    <div class="ant-card-head-title">Card Title</div>
                </div>
            </div>
            <div class="ant-card-body">
                <div class="ant-card-grid ant-card-grid-hoverable" style="width: 25%; text-align: center;">Content</div>
                <div class="ant-card-grid" style="width: 25%; text-align: center;">Content</div>
                <div class="ant-card-grid ant-card-grid-hoverable" style="width: 25%; text-align: center;">Content</div>
                <div class="ant-card-grid ant-card-grid-hoverable" style="width: 25%; text-align: center;">Content</div>
                <div class="ant-card-grid ant-card-grid-hoverable" style="width: 25%; text-align: center;">Content</div>
                <div class="ant-card-grid ant-card-grid-hoverable" style="width: 25%; text-align: center;">Content</div>
                <div class="ant-card-grid ant-card-grid-hoverable" style="width: 25%; text-align: center;">Content</div>
            </div>
        </div>
    </ExpectedOutput>
</SnapshotTest>
