@namespace Append.AntDesign.Components
@inherits AntComponent

<div class="ant-card-meta">
    @if (Avatar != null)
    {
        <div class="ant-card-meta-avatar">
            @Avatar
        </div>
    }
    <div class="ant-card-meta-detail">
        <div class="ant-card-meta-title">@Title</div>
        <div class="ant-card-meta-description">@Description</div>
    </div>
</div>
