@namespace Append.AntDesign.Components
@inherits AntComponent

<div class="@Classes" style="width:300px;">
    <div class="ant-card-head">
        hej
    </div>
    <div class="ant-card-body">
        hej
    </div>
</div>