@namespace Append.AntDesign.Components
@inherits AntComponent

<div class="@Classes" style="@Style">
    @if (!string.IsNullOrEmpty(Title) && !Loading)
    {
        <div class="ant-card-head">
            <div class="ant-card-head-wrapper">
                <div class="ant-card-head-title">
                    @Title
                </div>

                @if (Extra != null)
                {
                    <div class="ant-card-extra">
                        @Extra
                    </div>
                }
            </div>
        </div>
    }
    
    @if (Loading)
    {
        <div class="ant-card-loading-content">
                <div class="ant-row" style="margin-left: -4px; margin-right: -4px;">
                    <div class="ant-col ant-col-22" style="padding-left: 4px; padding-right: 4px;">
                        <div class="ant-card-loading-block"></div>
                    </div>
                </div>
                <div class="ant-row" style="margin-left: -4px; margin-right: -4px;">
                    <div class="ant-col ant-col-8" style="padding-left: 4px; padding-right: 4px;">
                        <div class="ant-card-loading-block"></div>
                    </div>
                    <div class="ant-col ant-col-15" style="padding-left: 4px; padding-right: 4px;">
                        <div class="ant-card-loading-block"></div>
                    </div>
                </div>
                <div class="ant-row" style="margin-left: -4px; margin-right: -4px;">
                    <div class="ant-col ant-col-6" style="padding-left: 4px; padding-right: 4px;">
                        <div class="ant-card-loading-block"></div>
                    </div>
                    <div class="ant-col ant-col-18" style="padding-left: 4px; padding-right: 4px;">
                        <div class="ant-card-loading-block"></div>
                    </div>
                </div>
                <div class="ant-row" style="margin-left: -4px; margin-right: -4px;">
                    <div class="ant-col ant-col-13" style="padding-left: 4px; padding-right: 4px;">
                        <div class="ant-card-loading-block"></div>
                    </div>
                    <div class="ant-col ant-col-9" style="padding-left: 4px; padding-right: 4px;">
                        <div class="ant-card-loading-block"></div>
                    </div>
                </div>
                <div class="ant-row" style="margin-left: -4px; margin-right: -4px;">
                    <div class="ant-col ant-col-4" style="padding-left: 4px; padding-right: 4px;">
                        <div class="ant-card-loading-block"></div>
                    </div>
                    <div class="ant-col ant-col-3" style="padding-left: 4px; padding-right: 4px;">
                        <div class="ant-card-loading-block"></div>
                    </div>
                    <div class="ant-col ant-col-16" style="padding-left: 4px; padding-right: 4px;">
                        <div class="ant-card-loading-block"></div>
                    </div>
                </div>
            </div>
    }
    else
    {
        @if (Cover != null)
        {
            <div class="ant-card-cover">
                @Cover
            </div>
        }
        <div class="ant-card-body">
            @ChildContent
        </div>
    }
    
    @if (Actions.Any())
    {
        <ul class="ant-card-actions">
            @foreach (var action in Actions)
            {
                <li style="width: 33.3333%;">@action</li>
            }
        </ul>
    }
</div>