<Codebox Title="Basic">
    <Description>
        <p>A basic card containing a title, content and an extra corner content. Supports two sizes: <code>default</code> and <code>small</code>.</p>
    </Description>
    <Demo>
        <Card Title="Card title" Extra="extra" Bordered Style="width:300px;">
            <p style="margin:0;">Card content</p>
            <p style="margin:0;">Card content</p>
            <p style="margin:0;">Card content</p>
        </Card>

        <Card Title="Card title" Extra="extra" Bordered Type="@CardType.Small" Style="width:300px;margin-top: 15px;">
            <p style="margin:0;">Card content</p>
            <p style="margin:0;">Card content</p>
            <p style="margin:0;">Card content</p>
        </Card>
    </Demo>
</Codebox>


@code {
    RenderFragment extra = @<a href='#'>More</a>;
}
