<Codebox Title="No border">
    <Description>
        <p>A borderless card on a gray background.</p>
    </Description>
    <Demo>
        <div class="site-card-wrapper">
            <Card Title="Card title" Style="width:300px;">
                <p style="margin:0;">Card content</p>
                <p style="margin:0;">Card content</p>
                <p style="margin:0;">Card content</p>
            </Card>
        </div>
    </Demo>
</Codebox>

<style>
    .site-card-wrapper {
        background: #ececec;
        padding: 26px 16px 16px;
    }
</style>