<Codebox Title="Basic">
    <Description>
        <p>There are <code>primary</code> button, <code>default</code> button, <code>dashed</code> button and <code>link</code> button in antd.</p>
    </Description>
    <Demo>
        <Card Text="Hej hej" Bordered></Card>
    </Demo>
</Codebox>