<Codebox Title="Simple card">
    <Description>
        <p>A simple card only containing a content area.</p>
    </Description>
    <Demo>
        <div>
            <Card style="width:300px;" Bordered>
                <p style="margin:0;">Card content</p>
                <p style="margin:0;">Card content</p>
                <p style="margin:0;">Card content</p>
            </Card>
        </div>
    </Demo>
</Codebox>