<Codebox Title="Loading Card">
    <Description>
        <p>Shows a loading indicator while the contents of the card is being fetched.</p>
    </Description>
    <Demo>
        <Switch Checked="!this.isLoading" OnClick="this.HandleActiveChange" />

        <Card Loading="this.isLoading" style="width: 300px; margin-top: 16px;" Bordered>
            <CardMeta Title="Card title" Description="This is the description" Avatar="avatar" />
        </Card>

        <Card Loading="this.isLoading" style="width: 300px; margin-top: 15px;" Actions="GetActions()" Bordered>
            <CardMeta Title="Card title" Description="This is the description" Avatar="avatar" />
        </Card>
    </Demo>
</Codebox>

@code {
    private bool isLoading { get; set; } = true;

    private void HandleActiveChange()
    {
        this.isLoading = !this.isLoading;
    }

    RenderFragment cover =@<img alt="example" src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png" />;
    RenderFragment avatar = @<Avatar ImageSource="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png" />;

    private List<RenderFragment> GetActions()
    {
        RenderFragment firstIcon = @<Icon Type="IconType.Outlined.Setting" />;
        RenderFragment secondIcon = @<Icon Type="IconType.Outlined.Edit" />;
        RenderFragment thirdIcon = @<Icon Type="IconType.Outlined.Ellipsis" />;

        return new List<RenderFragment>(new[] { firstIcon, secondIcon, thirdIcon });
    }

}